.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
build/
app/css/*.css
node_modules/
npm-debug.*
Thumbs.db
other/
logs/*
vendor/
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
yarn-error.log
.env
.phpunit.result.cache
